@import "tailwindcss";

*{
    font-family: "Oxanium", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 0, 77);
}

.button {
    @apply w-full h-15 rounded-3xl text-amber-50 text-lg font-bold leading-[100%] cursor-pointer hover:bg-purple-800 duration-300
}
.button-2 {
    @apply w-full h-15 rounded-3xl text-black font-bold text-lg leading-[100%] cursor-pointer hover:bg-purple-400 duration-300
}